

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family:'Poppins';
}

.my-header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 13vh;
    /* background: #8F98E2; */
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 3);
}

.my-header .black-line{
    height: 12vh;
    border-top: 3px solid back;
    border-bottom: 3px solid lack;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-header .black-line .gray-line{
    height: 10vh;
    border-top: 2px solid gry;
    border-bottom: 2px solid ray;    
    position: relative;
}

.my-header .black-line .gray-line .header-content{
 display: flex;
 position: absolute;  
 left: 12%;
 top: 50%;
 transform: translate(0, -50%);
}
.my-header .black-line .gray-line .header-content .logo{
    height: 55px;
    width:55px;

   
}

.my-header .black-line .gray-line .header-content .logo img {
    height: 100%;
    width: 100%;
}

.my-header .black-line .gray-line .header-content .title{
    margin-left: 2rem;

}
.my-header .black-line .gray-line .header-content .title h3{
    /* font-size: 40px; */
    font-size: clamp(1rem, 4vw, 27px);
    font-family: sans-serif;
    font-weight: 100;
    text-shadow: 1px 3px rgb(204, 204, 204),0 0 10px rgba(0, 0, 0, 0.5);
 
    letter-spacing: 2px;
    margin-bottom: 5px;
}
.my-header .black-line .gray-line .header-content .title p{
    color: #11153F;
    font-family: sans-serif;
    font-size: 14px;
}    

@media screen and (max-width: 768px) and (min-width: 500px){
    .my-header .black-line .gray-line .header-content{
        display: flex;
        position: absolute;  
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
       }
       .my-header .black-line .gray-line .header-content .title{
        margin-left: 1rem;
    
    }
    .my-header .black-line .gray-line .header-content{
        margin: 0 1rem;
    }
}

@media screen and (max-width: 499px){
    .my-header .black-line .gray-line .header-content{
        display: flex;
        position: absolute;  
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
       }
    .my-header .black-line .gray-line .header-content .title{
        margin-left: 1rem;
    
    }
    .my-header .black-line .gray-line .header-content{
        margin: 0 1rem;
    }

}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.main .box{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    height: 391px;
    width: 362px;
    background: white;
    border: 2px solid black;
    border-radius: 8px;

    /* grid */
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    justify-items: center;
}
.main .box .circle{
    height: 138px;
    width: 138px;
    background: #11153F;
    border-radius: 50%;
    align-self: center;
}
.main .box .circle img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.main .box .classroom{
    text-align: center;
}
.main .box .classroom h3{
    font-size: 22px;
    color: #0C6980;
    font-family: sans-serif;
    font-weight: 200;
    letter-spacing: 3px;
    word-spacing: 10px;
}

.main .box .classroom h3:nth-child(2){
    margin-top: 3px;
}

.main .box span{
    height: 3px;
    width: 43px;
    background: #0C6980;
}
.main .box .my-button button{
    width: 112px;
    height: 40px;
    border: none;
    background: #0C6980;
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s;
}
.main .box .my-button button:hover{
    color: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 3);
}
.main .box .my-button button:nth-child(1){
    margin-right: 1rem;
}
.main .box .my-button button:nth-child(2){
    margin-left: 1rem;
}


.main .box p{
    color: #0C6980;
    font-family: sans-serif;
    font-size: 15px;
}