*{
    padding: 0;
    margin: 0;
}
html{
    font-family:'Poppins';
    
}

.signout-container{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    }
    
    .signout-container.active{
        opacity: 1;
        visibility: visible;
    }
    
    
    .signout-container .signout{
        position: absolute;
        right: 30px;
        top: 90px;
        height: 360px;
        width: 350px;
        background: white;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
        display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  repeat(4, 90px);
    justify-items: center;
    align-items: center;
    }
    .signout-container .signout .myprofile2{
    height: 80px;
    width: 80px;
    }
    .signout-container .signout .myprofile2 img{
        height: 100%;
        width: 100%;
    }
    .signout-container .signout .signout-content{
        text-align: center;
        align-self: center;
        justify-self: center;
    }
    .signout-container .signout .signout-content h3:nth-child(1){
        margin: 1.5rem;
    }
    .signout-container .signout .signout-content h3:nth-child(2){
        color: gray;
    }
    .signout-container .signout h3:nth-child(3){
        font-size: 21px;
        cursor: pointer;
        width: 80%;
        color: black;
        text-align: center;
        border: 1px solid gray;
        transition: all 0.3s;
        border-radius: 40px;
        padding: 0.3rem;
    }
    .signout-container .signout h3:nth-child(3):hover{
        background: rgb(238, 238, 238);
        border: 1px solid black;
        transition: all 0.3s;
    }
    .signout-container .signout button{
        width: 112px;
        height: 40px;
        border: none;
        background: #0C6980;
        color: white;
        font-weight: 800;
        letter-spacing: 2px;
        cursor: pointer;
        transition: all 0.3s;
    }
    .signout-container .signout button:hover
    {
        color: white;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 3);
    }
    

.my-header{
    height: 12vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-header .black-line{
    height: 15vh;
    border-top: 3px solid blac;
    border-bottom: 3px solid blck;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-header .black-line .gray-line{
    height: 13vh;
    border-top: 2px solid gra;
    border-bottom: 2px solid ray;    
    position: relative;


    display: flex;
    justify-content: space-between;
    
}

.my-header .black-line .gray-line .header-content{

    height: 100%;
    width: 91%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.my-header .black-line .gray-line .header-content .fa-arrow-left{
    color: #0C6980;
    position: absolute;
    left: 18px;
    font-size: 28px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}
.my-header .black-line .gray-line .header-content .fa-arrow-left:hover{
color: #6abce6;
transition: all 0.3s;
}
.my-header .black-line .gray-line .header-content .login-icon{
    display: flex;
    align-items: center;
}

.my-header .black-line .gray-line .header-content .login-icon i{
    font-size: 28px;
    margin: 0 1.5rem;
    transition: 0.4s;
    color: gray;
}


.my-header .black-line .gray-line .header-content .login-icon i:hover{
    color: #0C6980;
    cursor: pointer;
}
.my-header .black-line .gray-line .header-content .login-icon .myprofile{
    height: 48px;
    width: 48px;
    cursor: pointer;
}
.my-header .black-line .gray-line .header-content .login-icon .myprofile img{
    height: 100%;
    width: 100%;
}
.my-header .black-line .gray-line .header-content .mycontent{
display: flex;
}
.my-header .black-line .gray-line .header-content .mycontent .logo{
    height: 60px;
    width: 60px;

   
}
.my-header .black-line .gray-line .header-content .mycontent .mybars{
    visibility: hidden;
    opacity: 0;
    display: none;
}
.my-header .black-line .gray-line .header-content .mycontent .logo img {
    height: 100%;
    width: 100%;
}

.my-header .black-line .gray-line .header-content .mycontent .title{
    margin-left: 1rem;

}
.my-header .black-line .gray-line .header-content .mycontent .title h3{
    /* font-size: 40px; */
    font-size: clamp(1rem, 4vw, 29px);
    font-family: 'Poppins';
    font-weight: 100;
 color: black;
    letter-spacing: 2px;
    margin-bottom: 1px;
}
.my-header .black-line .gray-line .header-content .mycontent .title p{
    color: black;
    font-family: 'Poppins';

}    

@media screen and (max-width: 768px) and (min-width: 500px){
    .my-header .black-line .gray-line .header-content .mycontent .mybars{
        visibility: visible;
        opacity: 1;
        display: block;
        height: 100%;
        width: 50px;
        /* flex*/
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .my-header .black-line .gray-line .header-content .mycontent .mybars i{
        font-size: 30px;
        
    }
    .my-header .black-line .gray-line .header-content .mycontent .logo{
        visibility: hidden;
        opacity: 0;
     
        display: none;
    }




    .my-header .black-line .gray-line .header-content{
        display: flex;
        position: absolute;  
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
       }
       .my-header .black-line .gray-line .header-content .title{
        margin-left: 1rem;
    
    }
    .my-header .black-line .gray-line .header-content{
        margin: 0 1rem;
    }
}

@media screen and (max-width: 499px){
    .my-header .black-line .gray-line .header-content .mycontent .mybars{
        visibility: visible;
        opacity: 1;
        display: block;
        height: 100%;
        width: 50px;
        /* flex*/
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .my-header .black-line .gray-line .header-content .mycontent .mybars i{
        font-size: 30px;
        
    }
    .my-header .black-line .gray-line .header-content .mycontent .logo{
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    .my-header .black-line .gray-line .header-content .login-icon i{
        font-size: 30px;
        margin: 0 0.4rem;
    }
    .my-header .black-line .gray-line .header-content{
        display: flex;
        position: absolute;  
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
       }
       .my-header .black-line .gray-line .header-content .mycontent .title{
        margin-left: 0.9rem;
    
    }
    .my-header .black-line .gray-line .header-content{
        margin: 0 1rem;
    }
    .my-header .black-line .gray-line .header-content .mycontent .logo{
        height: 70px;
        width: 70px;
       
    }
    

}

.nav{
    background: #0C6980;
    height: 6vh;
}

.nav ul{
    width: 95%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;

    align-items: center;
    }
.nav ul li{
    list-style: none;
    padding: 0 2rem;
    text-decoration: none;
    color: white;
    font-family:'Poppins';
    font-size: 17px;
    transition: 0.3s;
    cursor: pointer;
}
.nav ul li:hover{
    color: white;
    padding-bottom: 0.2rem;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    font-family:'Poppins';
    font-size: 17px;
    transition: 0.3s;
}
.nav ul li a:hover{
    color: white;
}

@media screen and (max-width: 768px){
    .nav ul li a{
        text-decoration: none;
        color: black;
        font-family:'Poppins';
        font-size: 17px;
        transition: 0.3s;
    }
    .nav ul li a:hover{
        color: #0C6980;
        background: white;
    }
    .nav{
        position: fixed;
        opacity: 0;
        visibility: hidden;
    }
    .nav.active{

        opacity: 1;
        visibility: visible;
        height: 100%;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
   }
    .nav .list{
        opacity: 1;
        visibility: visible;
        position: fixed;
        left: 0;
        height: 100%;

        width:0px;
        display: grid;
        grid-template-rows: repeat(4, 110px);
        grid-template-columns: 1fr;
        transition: 0.3s;
    }
    .nav.active .list{
        position: fixed;
        left: 0;
       background: white;
        width:320px;
        opacity: 1;
        visibility: visible;
        transition: 0.3s;
    }
  
}

body{
    background: rgb(243, 243, 243);
}
.main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .announs{
margin: 3rem 0rem;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
position: absolute;
overflow: hidden;

}
.main > div{
    visibility: hidden;
    opacity: 0px;
    top: -1000px;
}

.main > div.active{
    top: 0;
    opacity: 1;
    visibility: visible;
}


.main .announs form{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .announs form i{
font-size: 23px;
margin: 0 0.3rem;
color: #0C6980;


}
.main .announs form i:nth-child(3):hover{
    cursor: pointer;
    transition: all 0.3s ease;
    color: #6abce6;
    font-size: 25px;
}


.main .announs form input{
    width: 790px;
    height: 50px;
    margin: 0 1rem;
    padding-left: 2rem;
    border: none;
    border-radius: 40px;
    font-family:'Poppins';
    font-weight: 700;
    letter-spacing: 2px;
}
.main .announs .pin-section{
    margin-top: 2rem;
}
.main .announs .pin-section .mypin{
    height: 240px;
    width: 950px;
    background: white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 1rem;
    border-radius: 10px;
    border-radius: 10px;
}
.main .announs .pin-section .mypin h3{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
    grid-row: 1/2;
    grid-column: 1/4;
    background-image: linear-gradient(to right, rgba(0,0,0,0.3),rgba(0,0,0,0.3)), linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0rem 1rem;
    color: white;
    letter-spacing: 1px;   
}

.main .announs .pin-section .mypin .icon{
    grid-row: 2/3;
    grid-column: 1/2;
}
.main .announs .pin-section .mypin .icon i {
    font-size: 23px;
    margin: 0rem 1.5rem;
    color: #0C6980;
}

.main .announs .pin-section .mypin .content{
    grid-row: 2/3;
    grid-column: 2/3;
}
.main .announs .pin-section .mypin .content h4{
    font-size: 20px;
}
.main .announs .pin-section .mypin .content p{
    font-size:17px;
    margin-top: 0.3rem;
}
.main .announs .pin-section .mypin .mybuttons{
    grid-row: 2/3;
    grid-column: 3/4;
    /* flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    width: 150px;   
}

.main .announs .pin-section .mypin .mybuttons button{
    border: 40px;
    height: 37px;
    width: 80px;
    background: #0C6980;
    font-family: 'Poppins';
    margin-bottom: 0.9rem;
    border-radius: 40px;
    color: white;
    cursor: pointer;
}
/* next */
.main .announs .ann{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 2rem;
    width: 950px;

}

.main .announs .ann h3{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
    grid-row: 1/2;
    grid-column: 1/4;
    background-image: linear-gradient(to right, rgba(0,0,0,0.3),rgba(0,0,0,0.3)), linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.8rem 1rem;
    color: white;
    letter-spacing: 1px;
}
.main .announs .ann .here{
    background: white;
}
.main .announs .ann .here .row{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    background: white;
    height: 160px;
    margin-top: 1rem;
    border-bottom: 1px solid gray;
}

.main .announs .ann .here .row .iconn{
    grid-column: 1/2;
}
.main .announs .ann .here .row .iconn i{
    font-size: 23px;
    margin: 0rem 1.5rem;
    color: #0C6980;
}

.main .announs .ann .here .row .contentt{
    grid-column: 2/3;    
}
.main .announs .ann .here .row .contentt h4{
    font-size: 20px;
}
.main .announs .ann .here .row .contentt p{
    font-size: 18px;
}

.main .announs .ann .here .row .mybuttonss{
    grid-column: 3/4;
    /* flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    width: 150px;
}
.main .announs .ann .here .row .mybuttonss button{
    border: 40px;
    height: 37px;
    width: 80px;
    background: #0C6980;
    font-family: 'Poppins';
    margin-bottom: 0.9rem;
    border-radius: 40px;
    color: white;
    cursor: pointer;
}




.main .lec{
    padding-bottom: 3rem;
    /* padding: 0.5rem calc((100vw - 800px) / 2); */
    margin: 3rem;
    position: absolute;

}
.main .lec .lecact{
    background-image: linear-gradient(to right, rgba(0,0,0,0.3),rgba(0,0,0,0.3)), linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

    width: 1000px;
    border-radius: 10px;
    padding: 3rem 0;
}

.main .lec .lecact .btn-create{
    padding: 2rem 3rem;
}
.main .lec .lecact .btn-create button{
    color: white;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 40px;
    height: 50px;
    width: 100px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s ease;
}
.main .lec .lecact .btn-create button:hover{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
}
.main .lec .lecact .activity{
    padding: 0.7rem 0;
}
.main .lec .lecact .activity .activity-child{
margin: 0 3rem;
    background: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 1fr;
}
.main .lec .lecact .activity .activity-child i:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/3;
    font-size: 40px;
    justify-self: center;
    padding: 1rem 0;
    color: #0C6980;
}
.main .lec .lecact .activity .activity-child .title-act{
    grid-column: 2/3;
    grid-row: 1/2;
}
.main .lec .lecact .activity .activity-child .title-act h3{
    font-size: 25px;
    padding-top: 0.7rem;
}
.main .lec .lecact .activity .activity-child .title-act .other {
    padding: 0.7rem 0;
}
.main .lec .lecact .activity .activity-child .title-act .other p{
    font-size: 16px;
}

.main .lec .lecact .activity .activity-child i:nth-child(3){
    color: #0C6980;
    grid-column: 3/4;
    font-size: 27px;
    justify-self: center;
    padding: 1rem 0;
    color: #0C6980;
}
/* chat */
.main .chat{
    width: 1200px;
    margin-top: 3rem;
    position: absolute;
    overflow: hidden;
    display: grid;
    grid-template-columns: 300px 1fr;    
    grid-template-rows: 1fr;
}
.main .chat .sidebar-chat{

    grid-row: 1/2;
    grid-column: 1/2;
    height: 600px;
    width: 250px;
    background: white;
}
.main .chat .sidebar-chat .people{
    display: flex; 
    height: 60px;
    border-bottom: 1px solid black;
}

.main .chat .sidebar-chat .people i{
    margin: 1rem 1rem;
    font-size: 30px;

}
.main .chat .sidebar-chat .people h3{
    font-size: 30px;
    margin: 0.6rem 0.1rem;
}
.main .chat{
    padding-bottom: 3rem;
}
.main .chat .messages
{
    grid-row: 1/2;
    grid-column: 2/3;
    height: 600px;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, 100px);
    align-items: end;
    justify-items: center;
}

.main .chat .messages .mymessage{
    grid-column: 2/3;
    width: 380px;
    height: 50px;
    border-radius: 40px;
    background: white;
}
.main .chat .messages .reply {
display: flex;
align-items: center;
width: 340px;
height: 50px;
}
.main .chat .messages .reply span{
    width: 380px;
    height: 50px;
    background: white;
    border-radius: 40px;
}
.main .chat .messages .reply i{
    font-size: 28px;
    margin: 0 0.5rem;
}
.main .chat .messages .reply:nth-child(1){
    grid-row: 2/3;
    grid-column: 1/2;
}
.main .chat .messages .reply:nth-child(2){
    grid-row: 3/4;
    grid-column: 1/2;
}
.main .chat .messages .reply:nth-child(3){
    grid-row: 4/5;
    grid-column: 1/2;
}

.main .chat .messages .input-message{
    grid-column: 1/3;
    grid-row: 5/6;
    display: flex;
    align-items: center;
    height: 100%;
    width: 760px;
}
.main .chat .messages .input-message .message-icon{
    display: flex;
}

.main .chat .messages .input-message .message-icon i{
    font-size: 30px;
    margin: 0 0.5rem;
}

.main .chat .messages .input-message input{
    height: 50px;
    width: 600px;
    margin-left: 0.5rem;
}

.att{
    width: 100%;
    height: 90vh;
}

.att .nav{
    height: 13vh;
    background:white;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 100;
    font-family: 'Poppins';
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.att .nav h3{
    font-size: 27px;
    font-weight: 100;
    padding-left: 3rem;
}
.att .nav h4{
    font-size: 18px;
    padding: 2rem 3rem;
    color: black;

    font-weight: 100;
    margin-top: 0.2rem;
}
.att .mybtn{
padding: 3rem 3rem;
}
.att .mybtn button
{
    border: none;
    padding: 1rem 1rem;
    background: none;
    color: black;
    font-family: 'Poppins';
    font-size: 20px;
}

.att .box-container .my-box .student-pic{
    height: 120px;
    width: 120px;
    margin-top: 2.8rem;
    position: relative;
}

.att .box-container .my-box .student-pic img{
    height: 100%;
    width: 100%;
}

.att .box-container{
    display: flex;

}
.att .box-container .my-box{
    margin: 0 2.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
    transition: opacity 0.3s;
}
.att .box-container .my-box:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}
.att .box-container .my-box .rectangle{
    background: #0C6980;
    position: absolute;
    left: 33px;
    top: 10px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 3;
}
.att .box-container .my-box h3{
    padding: 0.5rem 0.5rem;
    margin-top: 0.5rem;
    color: black;
    background-image: linear-gradient(to right, rgba(0,0,0,0.3),rgba(0,0,0,0.3)), linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.att .box-container .my-box .choices{
    background: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
 position: absolute;
    top: 0;
    height: 130px;
    width: 130px;
    right: -100px;
    z-index: 999;
    display: none;
}
.att .box-container .my-box .choices .close{
    position: absolute;
    top: 0;
    color: black;
    right: 10px;
    font-size: 24px;
    padding: 1rem;
}
.att .box-container .my-box .choices p:nth-child(1){
    padding-top: 0.5rem;
}
.att .box-container .my-box .choices p{
    cursor: pointer;
    transition: all 0.3s;
    padding: 0.1rem 0.3rem;
}
.att .box-container .my-box .choices p:hover{
    color: gray;
    transition: all 0.3s;
}


.rec{
    position: absolute;
    width: 100%;
    height: 90vh;
}

.rec .nav-rec{
    
    height: 13vh;
    background:white;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 100;
    font-family: 'Poppins';
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.rec .nav-rec h3{
    
    font-size: 27px;
    font-weight: 100;
    padding-left: 3rem;
}
.rec .all{
    padding: 3rem 3rem;
}
.rec .all h3{
    padding: 1rem 1rem;
    background: none;
    color: black;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: lighter;
}

.rec .rec-container{
    display: flex;
}
.rec .rec-container .rec-box{
    margin: 0 2.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
    transition: opacity 0.3s;
}
.rec .rec-container .rec-box:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}
.rec .rec-container .rec-box h3{
    padding: 0.5rem 0.5rem;
    margin-top: 0.5rem;
    background-image: linear-gradient(to right, rgba(0,0,0,0.3),rgba(0,0,0,0.3)), linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.rec .rec-container .rec-box .rec-student-pic{
    height: 120px;
    width: 120px;
    margin-top: 2.8rem;
    position: relative;
}
.rec .rec-container .rec-box .rec-student-pic img{
    height: 100%;
    width: 100%;
}

.rec .rec-container .rec-box .rec-tangle{
    background: #0C6980;
    position: absolute;
    left: 33px;
    top: 10px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 3;
}

.rec .input-container{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.rec .input-container.active{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out
}

.rec .input-container .input-grades{
    height: 200px;
    width: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.rec .input-container .input-grades h3{
    margin-bottom: 1rem;
    font-size: 26px;
}
.rec .input-container .input-grades {
    display: flex;
    flex-direction: column;
}
.rec .input-container .input-grades input{
    margin-bottom: 1rem;
    height: 30px;
    border-radius: 40px;
    border: 1px solid gray;
    font-family: 'Poppins';
}

.rec .input-container .input-grades input:nth-child(3){
    background-image: linear-gradient(to right, rgba(0,0,0,0.3),rgba(0,0,0,0.3)), linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border: none;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    height: 30px;
    width: 160px;
}

.rec .input-container2{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.rec .input-container2.active{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out
}

.rec .input-container2 .input-grades{
    height: 200px;
    width: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.rec .input-container2 .input-grades h3{
    margin-bottom: 1rem;
    font-size: 26px;
}
.rec .input-container2 .input-grades {
    display: flex;
    flex-direction: column;
}
.rec .input-container2 .input-grades input{
    margin-bottom: 1rem;
    height: 30px;
    border-radius: 40px;
    border: 1px solid gray;
    font-family: 'Poppins';
}

.rec .input-container2 .input-grades input:nth-child(3){
    background-image: linear-gradient(to right, rgba(0,0,0,0.3),rgba(0,0,0,0.3)), linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    height: 30px;
    width: 160px;
    text-align: center;
}

.rec .input-container2{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.rec .input-container2.active{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out
}

.rec .input-container2 .input-grades{
    height: 200px;
    width: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.rec .input-container2 .input-grades h3{
    margin-bottom: 1rem;
    font-size: 26px;
}
.rec .input-container2 .input-grades {
    display: flex;
    flex-direction: column;
}
.rec .input-container2 .input-grades input{
    margin-bottom: 1rem;
    height: 30px;
    border-radius: 40px;
    border: 1px solid gray;
    font-family: 'Poppins';
}

.rec .input-container2 .input-grades input:nth-child(3){
    background-image: linear-gradient(to right, rgba(0,0,0,0.3),rgba(0,0,0,0.3)), linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    height: 30px;
    width: 160px;
    text-align: center;
}

.rec .input-container3{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.rec .input-container3.active{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out
}

.rec .input-container3 .input-grades{
    height: 200px;
    width: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.rec .input-container3 .input-grades h3{
    margin-bottom: 1rem;
    font-size: 26px;
}
.rec .input-container3 .input-grades {
    display: flex;
    flex-direction: column;
}
.rec .input-container3 .input-grades input{
    margin-bottom: 1rem;
    height: 30px;
    border-radius: 40px;
    border: 1px solid gray;
    font-family: 'Poppins';
}

.rec .input-container3 .input-grades input:nth-child(3){
    background-image: linear-gradient(to right, rgba(0,0,0,0.3),rgba(0,0,0,0.3)), linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    height: 30px;
    text-align: center;
    width: 160px;
}

.rec .input-container4{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.rec .input-container4.active{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out
}

.rec .input-container4 .input-grades{
    height: 200px;
    width: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.rec .input-container4 .input-grades h3{
    margin-bottom: 1rem;
    font-size: 26px;
}
.rec .input-container4 .input-grades {
    display: flex;
    flex-direction: column;
}
.rec .input-container4 .input-grades input{
    margin-bottom: 1rem;
    height: 30px;
    border-radius: 40px;
    border: 1px solid gray;
    font-family: 'Poppins';
}

.rec .input-container4 .input-grades input:nth-child(3){
    background-image: linear-gradient(to right, rgba(0,0,0,0.3),rgba(0,0,0,0.3)), linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    height: 30px;
    text-align: center;
    width: 160px;
}

.main  .exam{
    padding-bottom: 3rem;
    /* padding: 0.5rem calc((100vw - 800px) / 2); */
    margin: 3rem;
    position: absolute;

}
.main .exam .lecact{
    background-image: linear-gradient(to right, rgba(0,0,0,0.3),rgba(0,0,0,0.3)), linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

    width: 1000px;
    border-radius: 10px;
    padding: 3rem 0;
}

.main .exam .lecact .btn-create{
    padding: 2rem 3rem;
}
.main  .exam  .lecact .btn-create button{
    color: white;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 40px;
    height: 50px;
    width: 100px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s ease;
}
.main .exam .lecact .btn-create button:hover{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
}
.main .exam .lecact .activity{
    padding: 0.7rem 0;
}
.main .exam .lecact .activity .activity-child{
margin: 0 3rem;
    background: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 1fr;
}
.main .exam .lecact .activity .activity-child i:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/3;
    font-size: 40px;
    justify-self: center;
    padding: 1rem 0;
    color: #0C6980;
}
.main .exam .lecact .activity .activity-child .title-act{
    grid-column: 2/3;
    grid-row: 1/2;
}
.main .exam .lecact .activity .activity-child .title-act h3{
    font-size: 25px;
    padding-top: 0.7rem;
}
.main .exam .lecact .activity .activity-child .title-act .other {
    padding: 0.7rem 0;
}
.main .exam .lecact .activity .activity-child .title-act .other p{
    font-size: 16px;
}

.main .exam .lecact .activity .activity-child i:nth-child(3){
    color: #0C6980;
    grid-column: 3/4;
    font-size: 27px;
    justify-self: center;
    padding: 1rem 0;
    color: #0C6980;
}